<!-- Vehicle registration page, where the user can opt if he wants to register vehicle or no. -->

{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div id="veh_choice_div">
        <h2 class="page_head"> Do you have a vehicle?</h2>

        <p class="lead-text">
            If you have a vehicle, you can register it for the car park.
            Otherwise, you can continue and join the event without registering one.
        </p>
        
        <div>
            <a href="{% url 'vehicle_registration' %}?event_id={{ event_id }}"
                id="vehicle_btn">
                Yes, register my vehicle
            </a>
            <a href="{% url 'continue_booking' event_id %}"
                id="no_vehicle_btn">
                No, continue without vehicle
            </a>
        </div>
        <br>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}