<!-- simple profile page so people can update their name -->
{% extends "base.html" %}
{% block content %}

<!-- This div structures the heading of the page and the text below it -->

    <div class="head_div et_pb_bottom_inside_divider">
        <h1 class="page_head">Edit Profile</h1>
        <p class="lead-text">View and Change your profile details here!</p>
        <div class="head_design" style="background-size: 552px 40px; bottom: -0.18335px;"></div>
    </div>

    <br>

<div id="edit_div">
    <h2>My Details</h2>

    <form method="POST">
        {% csrf_token %}

        <!-- Personal Details -->
        <h4>Personal Details</h4>

        <label for="first_name">First name</label>
        <input 
            type="text"
            name="first_name"
            value="{{ user.first_name }}"
            class="form-control mb-3"
        >

        <label for="last_name">Last name</label>
        <input
            type="text"
            name="last_name"
            value="{{ user.last_name }}"
            class="form-control mb-3"
        >
        <!-- Vehicle Details -->

        <hr>
        {% if vehicle %}

        <h4>Vehicle Details</h4>

        <label for="registration_plate">Registration Plate</label>
        <input
            type="text"
            name="registration_plate"
            value="{{ vehicle.registration_plate }}"
            class="form-control mb-3"
            placeholder="Example: 241-D-12345"
        >

        <label for="make">Vehicle Make</label>
        <input
            type="text"
            name="make"
            value="{{ vehicle.make }}"
            class="form-control mb-3"
            placeholder="Example: Toyota"
        >

        <label>Vehicle Model</label>
        <input
            type="text"
            name="make"
            value="{{ vehicle.model }}"
            class="form-control mb-3"
            placeholder="Example: Corolla"
        >

        {% else %}

        <hr>

        <h4>Vehicle Details</h4>

        <p class="text-muted">You have not registered a vehicle yet.</p>

        <a href="{% url 'vehicle_registration' %}" class="general_btn">
            Register Vehicle
        </a>

        {% endif %}

        <hr>

        <p class="text-muted">
            Want to change your email or password?
            Please use the separate account settings.
        </p>

        <button type="submit" class="general_btn">
            Save Changes
        </button>
    </form>
</div>

{% endblock %}