<!-- simple profile page so people can update their name -->
{% extends "base.html" %}
{% block content %}

<!-- This div structures the heading of the page and the text below it -->

    <div class="head_div et_pb_bottom_inside_divider">
        <h1 class="page_head">Edit Profile</h1>
        <p class="lead-text">View and Change your profile details here!</p>
        <div class="head_design" style="background-size: 552px 40px; bottom: -0.18335px;"></div>
    </div>

    <br>

<div id="edit_div">
    <h2>My Details</h2>

    <form method="POST">
        {% csrf_token %}
        <label>First name</label>
        <input type="text" name="first_name" value="{{ user.first_name }}" class="form-control mb-3">

        <label>Last name</label>
        <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control mb-3">

        <p class="text-muted">Want to change your email or password? <a href="{% url 'account_email' %}">Click here</a>.</p>

        <button type="submit" class="general_btn">Save Changes</button>
    </form>

    {% if user.vehicle %}
        <hr>
        <h4>My Registered Vehicle</h4>
        <p>Plate: {{ user.vehicle.registration_plate }}</p>
        <p>Make/Model: {{ user.vehicle.make }} {{ user.vehicle.model }}</p>
    {% endif %}
</div>

{% endblock %}