{% extends "base.html" %}
{% block content %}
{% load static %}


    <div class="container">
        <h1 id="v_head">View My Account</h1>
        <p class="lead">View your account here and manage your details.</p>
    </div>

    <br>

    <div id="account_div">
        <h3>Account Details</h3>
        <br>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <a>
            <button class="h_btn">Edit Account</button>
        </a>
    </div>

    <br>

    <div id="need_account_div">

        <h3>Don't Have an Account?</h3>
        <p>Sign up now to create your account or login if you already have one.</p>
        {% if user.is_authenticated %}
            <p style="color: red;">You are already logged in.</p>
        {% else %}
            <a href="{% url 'account_signup' %}">
            <button class="h_btn">Sign Up</button>
        </a>
        <a href="{% url 'account_login' %}">
            <button class="h_btn">Log In</button>   
        </a>
        {% endif %}
        
    </div>

    <!-- This div structures the footer of the page -->

    <footer class="container-fluid bg-light py-3 mt-5">
        <div class="text-center">
            <p class="mb-0">&copy; 2026 Hoop and Go. All rights reserved.</p>
        </div>

{% endblock %}
 