{% load static %}
<!doctype html>
<html lang="en">

{% block head %}
    {% include 'includes/head.html' %}
{% endblock %}


<body>
    <header class="container-fluid fixed-top">
        <div class="main-nav">
            <nav class="navbar navbar-expand-lg navbar-light w-100 container-fluid">
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    <main class="container-fluid pt-5 pt-lg-5 mt-5 mt-lg-5">
        
            <!-- Login/Logout message -->
        <div class="position-absolute top-10 start-50 translate-middle-x">
            <div class="container message">
                    {% for message in messages %}
                    <div class="col-auto">
                        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                            {{ message | safe }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </main>

        <!-- This div structures the footer of the pages - Aidas Kibas-->
        <!-- The image was created by Aidas Kibas using Canva -->

    <footer class="site_footer">
        <div class="text-center">
            <p class="mb-0">&copy; 2026 AMNI Group | Hoop and Go. All rights reserved. | <img src="{% static 'images/HnG-Logo.jpg' %}" alt="Hoop and Go Logo" width="48" height="44">   </p>
        </div>
    </footer>

    {% block footer %}
    {% endblock %}

        <!-- Login/Logout message timeout -->
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');

            if(messages) {
                let alert = new bootstrap.Alert(messages);
                alert.close();
            }
        }, 2000);
    </script>
</body>
</html>
